.timer{
text-align: center;
font-size: 16px;
}
.button{
    width: 100px;
    font-size: 18px;
    margin-left: 10px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color:coral;
    color: white;
    padding: 10px 5px;
    border-radius: 4px;
}
h1{
    color:black;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

